*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

#grid {
  width: 500px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

img {
  margin: 4px;
}
