*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

#grid {
  /* width: 400px;
  height: 300px; */
  --grid-size: 4;
  --card-size: 20vmin;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--card-size));
  grid-template-rows: repeat(var(--grid-size), var(--card-size));
  gap: 1vmin;
}
